<li id="<%= dom_id post %>" class='p-4 mt-2 flex flex-row justify-between rounded-md bg-white'>
  <span class='font-bold'>
    <%= post.title %>
  </span>
  <%= link_to post, class: "btn btn-primary #{'hidden' if params[:action] == 'show'}" do %>
    <%= heroicon "eye", options: { class: 'h-5 w-5'} %>
  <% end %>
</li>
